.pylint.d/
__pycache__/
build/
dist/
Example files/
main.build/
main.dist/
modules/__pycache__/
modules/about.ui
modules/convert_ui_to_py.bat
modules/form.ui
modules/how_to_use.ui
modules/settings.ui
modules/custom_widget.py
portable_python/
PYCS/
main.spec
unused_modules.py